.local
/auto-save-list/
recentf*
/eshell/
/elpa/
tramp
/irony/*
/gtags-datas
project*
meghanada
.python-*
/pyim
srecode-map.el
.mc-lists.el
/cquery
/eclipse*
company-*
/lisp/init-javascript.el
/plantuml
