elpa
*~
flycheck*
recentf
quelpa
.lsp*
projectile*
build
pyim
*.userdb
user.yaml
etc/rime-user/installation.yaml
server
transient
tramp
.cache
eaf
!extensions/flycheck*
emacs.pdump
.exten*
.dap*
bookmarks
projects
eshell/
groovy-language-server/
lisp/init-private.el
org-roam.db
