[submodule "extensions/auto-save"]
	path = extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "extensions/awesome-pair"]
	path = extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "extensions/color-rg"]
	path = extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "extensions/fuz"]
	path = extensions/fuz
	url = https://github.com/rustify-emacs/fuz.el.git
[submodule "extensions/emacs-rime"]
	path = extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "extensions/thing-edit"]
	path = extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "extensions/snails"]
	path = extensions/snails
	url = git@github.com:xhcoding/snails.git
[submodule "extensions/company-english-helper"]
	path = extensions/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "extensions/magit-pretty-graph"]
	path = extensions/magit-pretty-graph
	url = https://github.com/georgek/magit-pretty-graph.git
